<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verbal/Auditory Learning Style</title>
<style>
#title {
  text-align: center;
  color: #AC3B61;
  font-family: Arial

}
.kewl {
  background-color: #BAB2B5;
  width: 200px;
  height: 200px;
  border: 15px outset #123C69;
  padding: 50px;
  margin: 20px;
  color: black;
  text-align: center;
  font-size: 30px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navigation_bar {
  background-color: #EEE2DC;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 2px #94888C;
}
.hey {
  display: flex;
  justify-content: center;

}
a{
  text-decoration: none;
  color: #AC3B61;
  text-shadow: 0.5px 0.5px;
  padding: 10px;
  /* border: 2px solid #AC3B61; */
  border-radius: 10px;
}

body {
  background-color: #EDC7B7;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

  $(document).ready(function(){
    $("#math,#science, #history").hide();
    $("#mlink").click(function() {
      $("#math, #science, .calc, .algebra, .geometry, .pre,  .phy, .chem, .bio, .anatomy, .korea, .joan, .egypt, .rome, #history").hide();
      $("#math").show();
    });
    $("#mscience").click(function() {
      $("#math, .calc, .algebra, .geometry, .pre, #science, .phy, .chem, .bio, .anatomy, .korea, .joan, .egypt, .rome, #history").hide();
      $("#science").show();
  });
  $("#mhistory").click(function() {
    $("#math, .calc, .algebra, .geometry, .pre, #science, .phy, .chem, .bio, .anatomy, .korea, .joan, .egypt, .rome").hide();
    $("#history").show();
});
  $(".calc").hide();
  $("#math").change(function() {
    if($( "#math option:selected" ).val() == "calc")
      {
        $(".calc").show();
      }
      else {
        $(".calc").hide();
      }
  });
  $(".algebra").hide();
  $("#math").change(function() {
    if($( "#math option:selected" ).val() == "alg")
      {
        $(".algebra").show();
      }
      else {
        $(".algebra").hide();
      }
  });
  $(".geometry").hide();
  $("#math").change(function() {
    if($( "#math option:selected" ).val() == "geo")
      {
        $(".geometry").show();
      }
      else {
        $(".geometry").hide();
      }
  });
  $(".pre").hide();
  $("#math").change(function() {
    if($( "#math option:selected" ).val() == "precal")
      {
        $(".pre").show();
      }
      else {
        $(".pre").hide();
              }
    });
    $(".chem").hide();
    $("#science").change(function() {
      if($( "#science option:selected" ).val() == "chem")
        {
          $(".chem").show();
        }
        else {
          $(".chem").hide();
        }
    });
    $(".bio").hide();
    $("#science").change(function() {
      if($( "#science option:selected" ).val() == "bio")
        {
          $(".bio").show();
        }
        else {
          $(".bio").hide();
        }
    });
    $(".phy").hide();
    $("#science").change(function() {
      if($( "#science option:selected" ).val() == "phy")
        {
          $(".phy").show();
        }
        else {
          $(".phy").hide();
        }
    });
    $(".anatomy").hide();
    $("#science").change(function() {
      if($( "#science option:selected" ).val() == "anatomy")
        {
          $(".anatomy").show();
        }
        else {
          $(".anatomy").hide();
        }
    });
    $(".korea").hide();
    $("#history").change(function() {
      if($( "#history option:selected" ).val() == "korea")
        {
          $(".korea").show();
        }
        else {
          $(".korea").hide();
        }
    });
    $(".joan").hide();
    $("#history").change(function() {
      if($( "#history option:selected" ).val() == "joan")
        {
          $(".joan").show();
        }
        else {
          $(".joan").hide();
        }
    });
    $(".egypt").hide();
    $("#history").change(function() {
      if($( "#history option:selected" ).val() == "egypt")
        {
          $(".egypt").show();
        }
        else {
          $(".egypt").hide();
        }
    });
    $(".rome").hide();
    $("#history").change(function() {
      if($( "#history option:selected" ).val() == "rome")
        {
          $(".rome").show();
        }
        else {
          $(".rome").hide();
        }
    });



});
</script>


  </head>
  <body >

    <div class="navigation_bar">
      <h3><a href="/">Home Page</a></h3>
      <h3><a href="/Quiz">Quiz</a></h3>
      <h3><a href="/About">About</a></h3>
      <h3><a href="/Profile">Profile</a></h3>
    </div>
<br><br><br><br>

<h1 id="title" >You Got Verbal/Auditory Learning Style!</h1>

<h3 align="center">Verbal/Auditory Learners tend to:  </h3>

<p align="center">
  Learn well through lectures
  <br><br>
  Be an excellent listener
  <br><br>
  Reproduce symbols, letters or words by hearing them
  <br><br>
  Like talking
  <br><br>
  Enjoy plays, dialogues, dramas
  <br><br>
  Learn concepts by listening to tapes
  <br><br>
  Enjoy music
  <br><br>
  Repeat or fulfill verbal instructions

</p>

<br>
<div class="flex">

<div id="mlink" class="kewl">

Learn Math
<br><br>

<img align="middle" height="150px" width="200px" align="center" src="https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2018/1-mathematics.jpg" alt="">

</div>
<br>

<div id="mscience" class="kewl">

Learn Science
<br><br>
<img align="middle" height="150px" width="200px" align="center" src="https://ichef.bbci.co.uk/childrens-responsive-ichef-live/r/640/1x/cbbc/science-onward-journey_v3.png" alt="">
</div>

<div id="mhistory" class="kewl">

Learn History
<br><br>
<img align="center" height="150px" width="200px" align="center" src="http://study.com/cimages/course-image/mttc-history-practice-study-guide_171851_large.jpg" alt="">


</div>
</div>
<br><br>
<div align="center" >

<select id="math" name="math">
  <option value="select">Select Math Topic</option>
   <option value="calc">Calculus</option>
   <option id="alg" value="alg">Algebra 2</option>
   <option id="geo" value="geo">Geometry</option>
   <option id="pre" value="precal">Pre-calculus</option>
 </select>

 <select id="science" name="science">
   <option value="select">Select Science Topic</option>
    <option value="bio">Biology</option>
    <option  value="chem">Chemistry</option>
    <option  value="phy">Physics</option>
    <option  value="anatomy">Anatomy</option>
  </select>

  <select id="history" name="history">
    <option value="select">Select History Topic</option>
     <option value="korea">Korean War</option>
     <option  value="joan">Joan of Arc</option>
     <option  value="egypt">Cleopatra</option>
     <option  value="rome">Fall of Rome</option>
   </select>


</div>
<br><br><br>
<div class="hey">

<iframe class="calc" id="vid" width="420" height="315" src="https://www.youtube.com/embed/rAof9Ld5sOg" frameborder="0" allowfullscreen>
</iframe>
<br>
<iframe class="calc" id="vid" width="420" height="315" src="https://www.youtube.com/embed/YTKQswb60Pw">
</iframe>
<br>
<iframe class="algebra" id="vid" width="420" height="315" src="https://www.youtube.com/embed/etMK3xViMAc">
</iframe>
<br>
<iframe class="algebra" id="vid" width="420" height="315" src="https://www.youtube.com/embed/C206SNAXDGE">
</iframe>
<br>
<iframe class="geometry" id="vid" width="420" height="315" src="https://www.youtube.com/embed/w8wdKOsUD-4">
</iframe>
<br>
<iframe class="geometry" id="vid" width="420" height="315" src="https://www.youtube.com/embed/JnLDmw3bbuw">
</iframe>
<br>
<iframe class="pre" id="vid" width="420" height="315" src="https://www.youtube.com/embed/JrWJnwCMlP0">
</iframe>
<br>
<iframe class="pre" id="vid" width="420" height="315" src="https://www.youtube.com/embed/q6vgQEZuNKk">
</iframe>

<iframe class="chem" id="vid" width="420" height="315" src="https://www.youtube.com/embed/eNsVaUCzvLA">
</iframe>

<iframe class="chem" id="vid" width="420" height="315" src="https://www.youtube.com/embed/bka20Q9TN6M">
</iframe>

<iframe class="bio" id="vid" width="420" height="315" src="https://www.youtube.com/embed/URUJD5NEXC8">
</iframe>

<iframe class="bio" id="vid" width="420" height="315" src="https://www.youtube.com/embed/00jbG_cfGuQ">
</iframe>

<iframe class="phy" id="vid" width="420" height="315" src="https://www.youtube.com/embed/2WS1sG9fhOk">
</iframe>

<iframe class="phy" id="vid" width="420" height="315" src="https://www.youtube.com/embed/-6IgkG5yZfo">
</iframe>

<iframe class="anatomy" id="vid" width="420" height="315" src="https://www.youtube.com/embed/uBGl2BujkPQ">
</iframe>

<iframe class="anatomy" id="vid" width="420" height="315" src="https://www.youtube.com/embed/i5tR3csCWYo">
</iframe>

<iframe class="korea" id="vid" width="420" height="315" src="https://www.youtube.com/embed/jA9neyKI62k">
</iframe>

<iframe class="korea" id="vid" width="420" height="315" src="https://www.youtube.com/embed/yxaegqvl4aE">
</iframe>

<iframe class="joan" id="vid" width="420" height="315" src="https://www.youtube.com/embed/FG5xkeeQmSg">
</iframe>

<iframe class="joan" id="vid" width="420" height="315" src="https://www.youtube.com/embed/4XFVzpJxgUk">
</iframe>

<iframe class="egypt" id="vid" width="420" height="315" src="https://www.youtube.com/embed/pLtZTzSatHY">
</iframe>

<iframe class="egypt" id="vid" width="420" height="315" src="https://www.youtube.com/embed/lRs4Vt6Pu-0">
</iframe>

<iframe class="rome" id="vid" width="420" height="315" src="https://www.youtube.com/embed/KJz15Y6hKMM">
</iframe>
<iframe class="rome" id="vid" width="420" height="315" src="https://www.youtube.com/embed/3PszVWZNWVA">
</iframe>


</div>

  </body>

</html>
