<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<form action="/Quiz" method="post">
    <div class="quiz_ques">
      <br>
        <h3> 1. When studying, I learn best when I: </h3>
        <!-- v = visual  -->
        <p><input id="q-1v" name="q-1" type="radio" value="v" />
          <label for="q-1v">watch someone show me how</label></p>
        <!-- a = lecture/auditory -->
        <p><input id="q-1a" name="q-1" type="radio" value="a" />
          <label for="q-1a">hear someone instruct me how</label></p>
        <!-- r = reading/writing -->
        <p><input id="q-1r" name="q-1" type="radio" value="r" />
          <label for="q-1r">create my own notes</label></p>
    </div>

    <div class="quiz_ques">
      <br>
        <h3> 2. When spelling, I verify accuracy by:  </h3>
        <!-- v = visual  -->
        <p><input id="q-2v" name="q-2" type="radio" value="v" />
          <label for="q-2v">looking at the word to see if it's correct</label></p>
        <!-- a = lecture/auditory -->
        <p><input id="q-2a" name="q-2" type="radio" value="a" />
          <label for="q-2a">sounding the word out</label></p>
        <!-- r = reading/writing -->
        <p><input id="q-2r" name="q-2" type="radio" value="r" />
          <label for="q-2r">writing the word out again</label></p>
    </div>

    <div class="quiz_ques">
      <br>
        <h3> 3. When I have to remember a list of items, I remember best by:  </h3>
        <!-- v = visual  -->
        <p><input id="q-3v" name="q-3" type="radio" value="v" />
          <label for="q-3v">reading them repetitively</label></p>
        <!-- a = lecture/auditory -->
        <p><input id="q-3a" name="q-3" type="radio" value="a" />
          <label for="q-3a">repeat them over and over</label></p>
        <!-- r = reading/writing -->
        <p><input id="q-3r" name="q-3" type="radio" value="r" />
          <label for="q-3r">writing them on a piece of paper</label></p>
    </div>

    <div class="quiz_ques">
      <br>
        <h3> 4. When facing a problem, I best solve by:  </h3>
        <!-- v = visual  -->
        <p><input id="q-4v" name="q-4" type="radio" value="v" />
          <label for="q-4v">drawing it out</label></p>
        <!-- a = lecture/auditory -->
        <p><input id="q-4a" name="q-4" type="radio" value="a" />
          <label for="q-4a">talking myself through it</label></p>
        <!-- r = reading/writing -->
        <p><input id="q-4r" name="q-4" type="radio" value="r" />
          <label for="q-4r">creating a draft and following myself through it</label></p>
    </div>

    <div class="quiz_ques">
      <br>
        <h3> 5. I prefer an instructor who:  </h3>
        <!-- v = visual  -->
        <p><input id="q-5v" name="q-5" type="radio" value="v" />
          <label for="q-5v">gives lectures using presentation tools</label></p>
        <!-- a = lecture/auditory -->
        <p><input id="q-5a" name="q-5" type="radio" value="a" />
          <label for="q-5a">shows videos like CrashCourse</label></p>
        <!-- r = reading/writing -->
        <p><input id="q-5r" name="q-5" type="radio" value="r" />
          <label for="q-5r">handout notes that contains annotated key words</label></p>
    </div>

    <input type="submit" value="Submit">
  </form>

  </body>
</html>
