<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Visual Learning Style</title>
      <link rel="stylesheet" href="learningstyle.css">

  </head>
  <body bgcolor="#EDC7B7">

    <div class="navigation_bar">
      <h3><a href="home.html">Home Page</a></h3>
      <h3><a href="quiz.html">Learn</a></h3>
      <h3><a href="about.html">About</a></h3>
      <h3><a href="profile.html">Profile</a></h3>
    </div>
<br><br>

<h1 id="title" >You Got Visual Learning Style!</h1>

<br>
<div class="flex">

<div class="kewl">

Learn Math
<br><br>

<img align="middle" height="150px" width="200px" align="center" src="https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2018/1-mathematics.jpg" alt="">

</div>
<br>

<div class="kewl">

Learn Science
<br><br>
<img align="middle" height="150px" width="200px" align="center" src="https://ichef.bbci.co.uk/childrens-responsive-ichef-live/r/640/1x/cbbc/science-onward-journey_v3.png" alt="">
</div>

<div class="kewl">

Learn History
<br><br>
<img align+"middle" height="150px" width="200px" align="center" src="http://study.com/cimages/course-image/mttc-history-practice-study-guide_171851_large.jpg" alt="">

</div>
</div>
  </body>

</html>
